<mat-card>
  <mat-card-title><u><b>Home Page</b></u></mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-title>Login Instruction</mat-card-title>

  <mat-card-content>

    <mat-list>
      <mat-list-item>Click on User Menu in left and go to log in page</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>User Id: mamun131 </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>password: 1234</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

