<span style="color:white;padding-right:10px;"><small> {{gotLoggedIn}}</small></span>
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <!--<mat-icon>more_vert</mat-icon>-->

  <mat-icon class="mat-icon-lg mat-icon material-icons" fxLayoutAlign="center center">account_circle</mat-icon>

</button>

<mat-menu #menu="matMenu">
  <button *ngIf="gotLoggedIn == ''" mat-menu-item class="navbar-link" [routerLink]="['/pages/login']">
    <mat-icon>add_circle</mat-icon>
    <span>Login</span>
  </button>
  <button *ngIf="gotLoggedIn == ''" mat-menu-item class="navbar-link" [routerLink]="['/pages/registration']">
    <mat-icon>add_circle</mat-icon>
    <span>Registration</span>
  </button>

  <button *ngIf="gotLoggedIn != null" mat-menu-item (click)="onLogout()">
 
    <mat-icon>remove_circle</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
